name: Node.js CI

on:
  push:
    branches: ["master"]
permissions:
  contents: read
  actions: read

jobs:
  deploy: 
    runs-on: self-hosted
    steps:
    - name: check out the code 
      uses: actions/checkout@v4
    - name: setup environment for application
      run: |
        cd $GITHUB_WORKSPACE
        sudo apt update
        sudo apt install nodejs -y
        sudo apt install npm -y
        npm install --production
    - name:  start application with pm2
      run: |
        cd $GITHUB_WORKSPACE
        echo "pm2 start app.js --name nod-application --watch"
        echo "the above command wll run for the first time , it enable watch so it work auto"
        echo "application has been started successfully..//."

        
   
