name: Node.js CI

on:
  push:
    branches: ["master"]
permissions:
  contents: read
  actions: read

jobs:
  deploy: 
    runs-on: dev
    steps:
    - name: check out the code 
      uses: actions/checkout@v4
    - name: build image and start container
      run: |
        cd $GITHUB_WORKSPACE
        sudo docker build -t myapp .
        sudo docker images
          if [ "$(docker ps  -aq -f name=node-app)" ]; then
            docker rm -f my-app-container
          fi

        sudo docker run -p 3000:3000 -d --name node-app --restart unless-stopped  myapp 
        
    - name: done
      run: |
        echo "app started succssfully"

        
   
